.gke-promo-banner.animated
  .gke-promo-banner-content
    %p
      Free download:
      %a{href: 'https://about.gitlab.com/resources/scaling-enterprise-devops/'} Starting and Scaling DevOps in the Enterprise by Gary Gruver
