---
title: Concurrent Devops
description: What's concurrent devops? Find out here.
suppress_header: true
extra_css:
  - concurrent-devops.css
---
.devops-hero-container.flex-container.justify-center.align-center.position-relative.overflow-hidden
  %img.image1{ src: "/images/concurrent-devops/todos.svg" }
  %img.image2{ src: "/images/concurrent-devops/concurrent-devops-noshadow.svg" }
  .devops-hero-info.flex-container.flex-column.justify-center.align-center.text-center
    %h1 Concurrent DevOps
    %p Software is powered by people, and when people are empowered to work together toward common goals, big ideas become reality.
.devops-content-container
  %section
    %p.tile At GitLab, we believe everyone should be able to easily and efficiently contribute and set out to make this easy for teams of all types and sizes. When everyone can contribute, consumers become contributors, feedback cycles are shortened, work that matters gets done, and we can greatly increase the rate of human progress.
  %section
    %h2 What is Concurrent DevOps?
    %p Concurrent DevOps is a method of working that enables collaboration and communication from the start. It connects the work of software development, security, and operations teams in a single, shared space so everyone can contribute to a single conversation and a single workflow.
  %section
    = partial "/includes/home/value-pillars"
  %section.flex-container
    .full-width.column
      %h2 Everyone can contribute
      %p Whether you’re a developer, an engineer, a product manager, a security expert, or a UX designer, you need to collaborate with a lot of different people to get work done. However, getting everyone on board isn’t always easy. That’s why we created GitLab.
    .full-width.column
      %h2 Connecting teams to accelerate innovation
      %p We believe everyone should be able to able to easily and efficiently contribute and set out to make this easy for teams of all types and sizes by creating a single, shared space where everyone can work concurrently, get all the information needed in one place, and see changes in real time.
  %section.tile.contribute-tile.flex-container.justify-center.align-center
    %img{ src: "/images/comparison/gitlab-logo.svg" }
    %p Join us on our mission to create a world in which everyone can contribute to improving the world around them.
    %a.text-center{href: "/contributing/"} Contribute to GitLab Core →
